.header{
    height: 45vw;
    margin: 40px auto;
    background-size:cover ;
    border-radius: 50px;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 45%;
    left: 15vw;
    animation: fadeIn 4s;
}
.header-contents h2{
    font-weight: 600;
    color: black;
    font-size: max(3.5vw, 35px);
}

a.button{
    border:none;
    color:antiquewhite ;
    padding: 1vw 2.3vw;
    font-weight: 600;
    background-color: blueviolet;
    font-size: max(5vw 20px);
    border-radius: 50px;
    cursor:pointer ;
}
@media(max-width:1050px){
    .header{
        height: 38vw;
    }
    .header-contents{
        max-width: 45%;
    }
}

@media(max-width:750px){
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}